@page
@model ASP_TagHelpers.Pages.SignInModel

@if(Model.Message!=null)
{
	<p class="alert-secondary">@Model.Message</p>
}
<form method="POST">
	<div class="mb-2">

	<label class="form-label" asp-for="Name">Name</label>
	<input class="form-control" asp-for="Name" />
	<span class="alert-danger" asp-validation-for="Name"></span>
	</div>

	<div class="mb-2">
	<label class="form-label" asp-for="Email">Email</label>
	<input class="form-control" asp-for="Email">
	<span class="alert-danger" asp-validation-for="Email"></span>
	</div>

	<div class="mb-2">
	<label class="form-label" asp-for="Password">Password</label>
	<input class="form-control" asp-for="Password" />
	<span class="alert-danger" asp-validation-for="Password"></span>
	</div>
	<div class="mb-2">
    <label class="form-label" asp-for="ConfirmedPassword">Confirm Password</label>
	<input class="form-control" asp-for="ConfirmedPassword"/>
	<span class="alert-danger" asp-validation-for="ConfirmedPassword"></span>
	</div>

	<button class="btn btn-primary">Send</button>
</form>
